body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    width: 300px;
    border-radius: 25px;
    background-color:#0F0F0F;
    color: white;
}

h1 {
    text-align: center
}

.video-title {
    color: #3c7be0; /* Cor desejada para o título */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 230px;
}

#status-container{
    background-color: #252525;
    border-radius: 7px;
    margin: 15px;
    padding: 5px;
}

#status {
    margin-left: 10px;
    border-radius: 7px;
    padding: 5px;
}

#progress-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    width: 80%;
    margin: 0 15px;
}

#progress-bar {
    height: 5px;
    width: 100%;
    background-color: #252525;
    border-radius: 15px;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    margin-left: 40px;
}

#progress-fill {
    height: 100%;
    width: 0;
    background-color: #0065ff; 
    border-radius: 15px;
    transition: width 0.5s ease, background-color 0.5s ease;
}

#progress-percent {
    margin-left: 15px;
    color: white;
}
